<%= render "shared/second-header"%>

  <div class=’purchase-done-contents’>
    <h3 class='purchase-done'>購入が完了しました。</h3>
    <%=link_to 'トップページへもどる', root_path, class:"purchase-done-btn" %>
  </div>

<%= render "shared/second-footer"%>